<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Editar Venta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block">
          <ion-icon name="save"></ion-icon>
          Guardar
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="danger">
          <ion-icon name="trash"></ion-icon>
          Eliminar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <p><strong>Fecha de venta:</strong> 01/09/2024</p>
          </ion-col>
          <ion-col size="6">
            <p><strong>Folio:</strong> 1</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <p><strong>Total de la venta:</strong> $20</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <p><strong>Cliente:</strong> Frecuente</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <p><strong>Vendido:</strong> Ejemplo Usuario Registrado</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
