<ion-content>
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
    <img src="../../assets/img/logo.jpeg" alt="Logo" style="width: 150px; margin-bottom: 20px;">

    <form (ngSubmit)="login()" style="width: 80%; max-width: 400px;">
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>

      <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>

      <p *ngIf="emailInvalid" style="color: red;">Por favor, ingresa un correo válido.</p>
    </form>
  </div>
</ion-content>


