
<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>PUNTO DE VENTA</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/usuarios">
        <ion-label>USUARIOS</ion-label>
      </ion-item>
      <ion-item routerLink="/sistema">
        <ion-label>SISTEMA</ion-label>
      </ion-item>
      <ion-item routerLink="/gestion-ventas">
        <ion-label>GESTION VENTAS</ion-label>
      </ion-item>
      <ion-item routerLink="/productos">
        <ion-label>PRODUCTOS</ion-label>
      </ion-item>
      <ion-item routerLink="/proveedores">
        <ion-label>PROVEEDORES</ion-label>
      </ion-item>
      <ion-item routerLink="/categorias">
        <ion-label>CATEGORIAS</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


