<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>VENTAS LISTADAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon name="search" slot="start"></ion-icon>
    <ion-input placeholder="BUSCAR VENTA"></ion-input>
    <ion-button>
      <ion-icon name="calendar"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="options"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>01/09/2024</h2>
        <p>Folio: 1</p>
        <p>$2140</p>
      </ion-label>
      <ion-button>
        <ion-icon name="download"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="information-circle"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
