<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>DETALLE DEL PROVEEDOR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Fecha de registro:</h2>
        <p>01/09/2024</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Id de proveedor:</h2>
        <p>1</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Nombre:</h2>
        <p>Mayoreo</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Teléfono:</h2>
        <p>456 234 5223</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Correo:</h2>
        <p>mayoreogmail.com</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Dirección:</h2>
        <p>Córdoba, ver.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Estado:</h2>
        <p>Activo</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
